@font-face { font-family: awesome;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js");
}

.effet-hover:hover{ 
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
        background-color: #92c4fa;
        color: #fff;
}

@media all and (max-width:760px) { 
    .checknone{
    display: none;
}

.boite-voile{
   height: 430px;
   width: auto;
}
.image-voile{
    height: 288px;
}
.inpute{
    max-width: 98%;
}
.div-k{
    display: none;
}
}
.photo{
    position: static;
    max-height: 100px;
    max-width: 100px;
    margin-top: -25px;
}
.k{
    border: solid 1px #007bff;
    border-radius: 100%;
    margin-top: 130px;
}